.property{
    margin:100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.property-title h2{
    text-align: center;
}
.property-content{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    column-gap: 40px;
}

@media (max-width:850px){

    .property{
        margin: 100px 20px;
    }
    .property-content{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }
}